{% extends 'bookclub/base.html' %}

{% block title %}
    All the books
{% endblock %}}

{% block content %}
    <div class="list-group">
        {% for book in page_books %}
            <a href="{% url 'book_detail' pk=book.pk %}" class="list-group-item list-group-item-action mt-4">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">
                        {{ book.book }}
                    </h5>
                </div>
                <p class="mb-1">
                    {{ book.description|safe }}
                </p>
            </a>
        {% endfor %}
    </div>

    <nav class="mt-3">
        <ul class="pagination justify-content-center">
            {% for page in page_books.paginator.page_range %}
                <li class="page-item {% if page == page_books.number %}active{% endif %}">
                    <a class="page-link" href="?page={{ page }}">
                        {{ page }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <a href="{% url 'all_books'%}" class="float-right"> Home</a>
{% endblock %}